/* img-fluid class */
img{
    max-width:100%;
    height:auto
}

hr{
    color: black;
}

/* unvisited link */
a:link{
    text-decoration: none;
}


/* visited link */
a:visited {
    text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: none;
}

/* selected link */
a:active {
    text-decoration: none;
}

#toc a{
    /* color: red; */
    text-decoration: none;
    display: block;
}